.home2{

    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(119,218,19,1) 0%, rgba(255,255,255,1) 0%, rgba(244,244,246,1) 99%);
}
.home1{
    background-color: #1c1c20 !important;
}
.img{
    width: 100%;
}
.css-1oqqzyl-MuiContainer-root{
    padding: 0px;
}
.footerParentDev{
    width: 100% !important;
    margin: 0 !important;
}