.forgetGrid{
    border-radius: 26px !important;
    max-width: 464px !important;
    margin: 50px auto !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
   
    padding: 33px !important;
}
.forgetPassword{
    width: 100%;
}
.forgetTitle{
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    font-weight: 700;
    text-align: start;
    color: black;
}
.userEmail{
    color: rgb(104, 81, 255);
}
.loginLinkInForgetPassword:hover{
    color: blue !important;
    text-decoration: underline;
}